{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block title %}
Создать новость
{% endblock title %}
 

{% block content %}
<div class="collapse navbar-collapse" id="navbarResponsive">

                </div>
            </div>
        </nav>

        <!-- Page content-->
<form action="" method="post">
  {% csrf_token %}
   <p> Создание поста:</p>
    <p><label>В не сможете создать больше 3х новостей/статей за сутки </label></p>
  <p><label>Введите название новости: </label>
  <input type="text" name="article" placeholder="Название"></p>
    <p> <label>Текст: </label>
    <textarea name="text">Введите текст новости </textarea></p>
    <p> <label>Категория: </label>
    <select size="3" multiple name="category">
        {% for category in categories %}
        <option> {{ category}}</option>
        {% endfor %}
    </select></p>
    <input type="hidden" name="user" value="{{request.user.username}}">
  <p> <input type="submit" value="Сохранить" /></p>

</form>
{% endblock content %}


